AUTH_SERVICE_URL=http://auth-catalog-service:3000
REPRODUCTION_SERVICE_URL=http://reproduction-service:3001
ANALYTICS_SERVICE_URL=http://analytics-service:3002
JWT_SECRET=supersecreto_yousac_2026
PORT=8080
