CATALOG_DB_HOST=localhost
CATALOG_DB_PORT=5432
CATALOG_DB_NAME=yousac_catalog_db
CATALOG_DB_USER=yousac
CATALOG_DB_PASS=yousac_secret
AUTH_SERVICE_URL=http://localhost:3000
JWT_SECRET=supersecreto_yousac_2026
PORT=3003
NODE_ENV=development
