MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=yousac_analytics_db
MYSQL_USER=yousac
MYSQL_PASSWORD=yousac_secret
GRPC_REPRODUCTION_HOST=localhost
GRPC_REPRODUCTION_PORT=50051
HTTP_PORT=3002
ENV=development
