AUTH_DB_HOST=localhost
AUTH_DB_PORT=5432
AUTH_DB_NAME=yousac_auth_db
AUTH_DB_USER=yousac
AUTH_DB_PASS=yousac_secret

CATALOG_DB_HOST=localhost
CATALOG_DB_PORT=5432
CATALOG_DB_NAME=yousac_catalog_db
CATALOG_DB_USER=yousac
CATALOG_DB_PASS=yousac_secret

JWT_SECRET=supersecreto_yousac_2026
JWT_TTL=8h
PORT=3000
NODE_ENV=development
